*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blocks-section {
    max-width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40));    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding: 20px 40px;
    width: 100%;
    position: absolute;
}

.block-avatar {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    z-index: 10;
}

.block-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.personal-name {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.block-text {
    text-align: center;
    color: white;
}

.block-text p {
    font-family: Times;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
}

.block-item {
    font-family: 'Arial Narrow Bold';
    position: relative;
    width: 50%;
    margin: auto;
    padding: 10px 10px;
    background-color: #061b25bf;
    border-color: #061b25;
    border-radius: 10px;
    /* backdrop-filter: blur(1px) saturate(120%); */
}

.block-item a {
    text-decoration: none;
}

.block-item a svg {
    position: absolute;
    color: white;
}

.block-item a .app-name {
    font-family:  'Times';
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
    padding-bottom: 4px;
}

.line-bottom {
    width: 20%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-bottom div {
    width: 120px;
    height: 1px;
    background-color: white;
}

/* Media start */

@media (max-width: 991.98px){ 
    .block-item {
        width: 80%;
    }
}

@media (max-width: 767.98px){ 
    .block-item {
        width: 100%;
    }
}

@media (max-width: 575.98px){ 
    .block-item {
        width: 100%;
    }
}

@media (max-width: 375.98px){
    .block-item {
        width: 100%;
    }
}

@media (max-width: 310px){
    .block-avatar {
        margin: auto;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
    }
    .block-avatar img {
        width: 100%;
        height: 100%;
    }
    .personal-name {
        margin-bottom: 20px;
    }
    .block-item {
        width: 100%;
    }
    .block-item a svg {
        width: 24px;
        height: 24px;
    }
    .block-item a .app-name {
        font-size: 14px;
    }
    .block-item a .app-name span{
        font-size: 12px;
    }
}